* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
.main {
    height: 100%;
    color: #eee;
}

.main {
    overflow: auto;
}

.content {
    background-color: #3c2d64;
    padding-bottom: 15rem;
}

.hub {
    background-color: rgba(0, 0, 0, 0);
    height: 15rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#hub {
}
