@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100dvh;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    font-size: 5rem;
}

.gradient {
    color: var(--color-done-fg);
    background: linear-gradient(260deg, #8f27c7 0%, #9773ff 50%, #efceff 80%),
        #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.gradient-soft {
    background: -webkit-linear-gradient(-70deg, #efceff 0%, #9773ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.round-button,
.round-button-blue {
    position: relative;
    border-radius: 3rem;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07),
        0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05),
        0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}

.round-button {
    background: linear-gradient(0.45turn, #542263, #41174e, #34123e);
}

.round-button-blue {
    background: linear-gradient(0.45turn, #251e65, #1f1b5b, #100a4e);
}

.round-button::after,
.round-button-blue:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(227 168 234 / 25%);
}

.round-button:hover {
    background: linear-gradient(0.45turn, #5d236e, #4b185a, #3b1347);
}

.round-button-blue:hover {
    background: linear-gradient(0.45turn, #2e2673, #27236b, #160f5e);
}

.round-button:active,
.round-button:active {
    top: 1px;
    left: 1px;
}

.round-button:active {
    background: linear-gradient(0.45turn, #67247c, #58196b, #431452);
}

.round-button-blue:active {
    background: linear-gradient(0.45turn, #312787, #26217b, #170e71);
}

.raised-card {
    position: relative;
    text-align: center;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07),
        0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05),
        0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}

.raised-card:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(227 168 234 / 25%);
}

.diagonal {
    position: relative;
    isolation: isolate;
    background: none;
}

.diagonal::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: #17153f;
    transform: skewY(-5deg);
}
.liftoff {
    position: relative;
    transform: translateY(0rem);
    transition: all 4s cubic-bezier(1, 0, 0, 1);
}

.liftoff.active {
    transform: translateY(-120rem);
}

.reveal-top {
    position: relative;
    transform: translateY(1.5rem) scaleX(0.95);
    opacity: 0;
    transition: all 0.4s ease;
}

.reveal-top.active {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.reveal-left {
    position: relative;
    transform: translateX(2rem);
    opacity: 0;
    transition: all 0.4s ease;
}

.reveal-left.active {
    transform: translateX(0);
    opacity: 1;
}

.reveal-right {
    position: relative;
    transform: translateX(-2rem);
    opacity: 0;
    transition: all 0.4s ease;
}

.reveal-right.active {
    transform: translateX(0);
    opacity: 1;
}

.zoom-in {
    transform: scale(2);
    transition: all 1s ease-out;
    opacity: 0;
}

.slide-down {
    transform: translateY(100%);
    transition: all 0.5s ease-out;
}

.white {
    filter: invert(100%) sepia(66%) saturate(175%) hue-rotate(137deg)
        brightness(115%) contrast(100%) opacity(0.25);
}

.pink {
    filter: invert(76%) sepia(58%) saturate(194%) hue-rotate(227deg)
        brightness(102%) contrast(99%) opacity(0.8);
}

/*
//
*/

.planet {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: white;
    border-radius: 50%;
    box-shadow:
    /* Inner shadow */ inset 0 0 14px 0 white,
        inset -40px -30px 60px 0 purple, inset -40px -30px 70px 0 blue,
        inset -40px -30px 100px 0 cyan, inset -40px -30px 140px 0 powderblue,
        /* Outer shadow */ 0 0 20px 0 white, 10px 10px 20px 10px purple,
        -10px -10px 20px 0 cyan;
}

.star {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(193, 177, 191);
    border-radius: 50%;
}

.one {
    top: 50%;
    left: -110px;
    transform-origin: calc(200px + 50%);
    box-shadow: 0 0 9px 1px rgb(175, 127, 169), 0 0 9px 1px rgb(244, 196, 164);

    animation: orbit 120s linear infinite;
}

@keyframes orbit {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

.progress {
    background: #230f36cc;
    border-radius: 25px;
    padding: 4px;
    box-shadow: inset 0 1px 2px #9797971a, 0 1px #9979aa54;
}

.progress-bar {
    height: 10px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05)
    );
    background-image: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05)
    );
    background-image: -o-linear-gradient(
        top,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05)
    );
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.05)
    );
    transition: 0.4s linear;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25),
        inset 0 1px rgba(255, 255, 255, 0.1);
}
