@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
.main {
    height: 100%;
    color: #bf7bd9;
    font-family: 'Exo 2', sans-serif;
}

.main {
    overflow: auto;
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(55, 24, 65, 1) 86%,
        rgba(100, 39, 119, 1) 100%
    );
}

.hub {
    background-color: rgba(0, 0, 0, 0);
    height: 15rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.gradient2 {
    background: -webkit-linear-gradient(-70deg, #efceff 0%, #9773ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.gradient {
    color: var(--color-done-fg);
    background: linear-gradient(260deg, #8f27c7 0%, #9773ff 50%, #efceff 80%),
        #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.glow {
    box-shadow: 0 0 50px 15px rgba(100, 39, 119, 0.5);
    background-color: rgba(2, 0, 36, 0.8);
}

.tag {
    font-size: 1rem;
    color: #efceff;
    background-color: rgba(100, 39, 119, 1);
    border-radius: 0.8rem;
    padding: 0.2rem 0.8rem;
    margin: 0 0.5rem;
}

.round-button {
    position: relative;
    background: #261334;
    border-radius: 3rem;
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 50px;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07),
        0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05),
        0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}

.round-button::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
    border-radius: inherit;
    box-shadow: inset 0 1px 1px rgb(227 168 234 / 25%);
}
